.modal {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 20;
  margin: 0;
  padding: 27px 24px 28px 24px;
  box-sizing: border-box;
  width: 100%;
  background-color: #ffffff;

  &--show {
    display: block;
  }

  @media #{$desktop} {
    padding: 29px 24px 26px 24px;

    &--login {
      top: 130px;
      left: 50%;
      margin-left: -350px;
      width: 704px;
    }

    &--call-me {
      top: 90px;
      left: 50%;
      width: 100%;
      max-width: 952px;
      transform: translate(-50%, 0%);
    }
  }
}

.modal__tab-control {
  display: none;
}

.modal__header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  padding: 0px 0px 28px 0px;

  @media #{$desktop} {
    padding: 0px 0px 27px 0px;
  }
}

.modal__btn-close {
  position: absolute;
  top: 2px;
  left: 0px;
  z-index: 20;
  font-size: 0;
  border: 0px;
  width: 26px;
  height: 21px;
  background-color: transparent;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    border: 1px solid #688cd6;
    border-top-width: 0;
    border-right-width: 0;
    width: 14px;
    height: 14px;
    transform: rotate(45deg);
  }

  &::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 1px;
    border-bottom: 1px solid #688cd6;
    width: 26px;
  }

  &:hover::before,
  &:hover::after {
    border-color: #fff200;
  }

  @media #{$desktop} {
    top: -13px;
    right: -5px;
    left: auto;
    width: 21px;
    height: 21px;

    &::before,
    &::after {
      top: 10px;
      left: -4px;
      border: 0;
      border-bottom: 1px solid #000000;
      width: 29px;
      height: 0px;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.modal__title {
  vertical-align: top;
  position: relative;
  color: #123885;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  margin: 0;
  padding: 3px 13px 3px 42px;

  @media #{$desktop} {
    font-size: 26px;
    font-weight: 700;
    line-height: 26px;
    padding: 0px 12px 0px 0px;
  }
}

.modal__help {
  display: inline-block;
  position: relative;
  color: #1c1c1c;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  margin: 0;
  padding: 0;
  border: 2px solid #fff200;
  border-radius: 50%;
  width: 18px;
  height: 18px;

  &::before {
    content: attr(data-hint);
    display: block;
    position: absolute;
    bottom: -55px;
    right: -33px;
    z-index: 1;
    color: #fcfdff;
    font-size: 12px;
    line-height: 12px;
    margin: 0;
    padding: 9px 0px 9px 0px;
    width: 228px;
    background-color: #000000;
  }

  &::after {
    content: '';
    position: absolute;
    right: 0px;
    bottom: -13px;
    border: 9px solid #000000;
    border-top-width: 0;
    border-right-color: transparent;
    border-bottom-width: 6px;
    border-left-color: transparent;
  }

  &::before,
  &::after {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s, visibility 0s 0.6s
  }

  &:hover {
    cursor: help;
  }

  &:hover::before,
  &:hover::after {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s, visibility 0s;
  }

  @media #{$desktop} {
    margin: 0px 23px 0px 0px;

    &:before{
      right: -10px;
    }
  }
}

.modal__tabs {
  display: flex;
  font-size: 0;
  margin: 0;
  padding: 31px 0px 0px 0px;
  width: 100%;

  @media #{$desktop} {
    padding: 0;
    width: auto;
  }
}

.modal__tab {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #263b82;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  margin: 0;
  padding: 0px 5px 0px 5px;
  border: 1px solid #97adef;
  width: 100%;
  min-height: 32px;
  cursor: pointer;
  transition: background-color 0.6s ease;

  &:not(:nth-child(1)) {
    margin-left: -1px;
  }

  &:first-child {
    padding-left: 12px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  &:last-child {
    padding-right: 12px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  &:hover {
    color: #ffffff;
    background-color: #97adef;
  }

  @media #{$desktop} {
    font-size: 14px;
    line-height: 14px;
    padding: 0px 16px 0px 16px;
    width: auto;

    &:first-child {
      padding-left: 19px;
    }

    &:last-child {
      padding-right: 19px;
    }
  }
}

.modal__tab-content {
  margin: 0;
  padding: 30px 17px 51px 17px;
  background-color: #f0f2f9;

  @media #{$desktop} {
    padding: 36px 35px 31px 35px;
  }
}

#login-tab1:checked ~ .modal__tab-content form:nth-child(1),
#login-tab2:checked ~ .modal__tab-content form:nth-child(2),
#feedback-tab1:checked ~ .modal__tab-content form:nth-child(1),
#feedback-tab2:checked ~ .modal__tab-content form:nth-child(2),
#feedback-tab3:checked ~ .modal__tab-content form:nth-child(3) {
  display: flex;
}

#login-tab1:checked ~ .modal__header .modal__tab:nth-child(1),
#login-tab2:checked ~ .modal__header .modal__tab:nth-child(2),
#feedback-tab1:checked ~ .modal__header .modal__tab:nth-child(1),
#feedback-tab2:checked ~ .modal__header .modal__tab:nth-child(2),
#feedback-tab3:checked ~ .modal__header .modal__tab:nth-child(3) {
  color: #ffffff;
  border-color: #123885;
  background-color: #123885;
}
