.user {
  font-size: 0;

  @media #{$desktop} {
    order: 1;
  }
}

.user__btn {
  display: inline-block;
  vertical-align: top;
  position: relative;
  text-decoration: none;
  margin: 0px 8px 0px 0px;
  padding: 0;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  width: 30px;
  height: 30px;

  &::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 22px;
    height: 22px;
    background-image: url('../img/user-icons.png');
    background-repeat: no-repeat;
  }

  &:hover,
  &:focus {
    border-color: #fbf239;
    background-color: #fbf239;
  }

  &::after {
    content: attr(data-hint);
    display: block;
    position: absolute;
    bottom: -40px;
    left: -3px;
    z-index: 1;
    color: #fcfdff;
    font-size: 12px;
    line-height: 12px;
    white-space: nowrap;
    margin: 0;
    padding: 9px 10px 9px 10px;
    background-color: #000000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s, visibility 0s 0.6s
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s, visibility 0s;
  }

  &:last-child {
    margin-right: 0;
  }

  &--login::before {
    background-position: -6px -7px;
  }

  &--login:hover::before,
  &--login:focus::before {
    background-position: -41px -7px;
  }

  &--call-me::before {
    background-position: -75px -7px;
  }

  &--call-me:hover::before,
  &--call-me:focus::before {
    background-position: -110px -7px;
  }

  &--search::before {
    background-position: -146px -5px;
  }

  &--search:hover::before,
  &--search:focus::before {
    background-position: -181px -5px;
  }

  @media #{$desktop} {
    border-color: #eaeaea;

    &::after {
      right: -3px;
      left: auto;
    }

    &--login::before {
      background-position: -41px -7px;
    }

    &--call-me::before {
      background-position: -110px -7px;
    }

    &--search::before {
      background-position: -181px -5px;
    }
  }
}
